{% trans_default_domain 'FOSUserBundle' %}

<div class="user-content clearfix">
    <h2>Hello {{ user.username }}, it's you personal page.</h2>

    <div class="user-content-left">
        <ul>
            <li>User name: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
        </ul>
    </div>

    <div class="user-content-center">
        <ul>
            <li>
                {% if user.name  is empty %}
                    No Name
                {% else %}
                    Name: {{ user.name }}
                {% endif %}
            </li>

            <li>
                {% if user.soname  is empty %}
                    No Soname
                {% else %}
                    Soname: {{ user.soname }}
                {% endif %}
            </li>

            <li>
                {% if user.age  is empty %}
                    No Age
                {% else %}
                    Age: {{ user.age }}
                {% endif %}
            </li>

            <li>
                {% if user.city  is empty %}
                    No City
                {% else %}
                    City: {{ user.city }}
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="user-content-right">
        {% if user.img  is empty %}
            No photo
        {% else %}
            Photo:
            <img src="{{ asset('user_images/' ~ user.img ) }}" alt="{{ user.username }}'s img">
        {% endif %}
    </div>
</div>

<div class="user-action">
    {% if app.user.roles is iterable %}
        {% for role in app.user.roles %}
            {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_MODERATOR' %}
                <a class="on" href="{{ path('sonata_admin_dashboard') }}">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                    Admin room
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <a href="{{ path('fos_user_profile_edit') }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Edit profile
    </a>

    <a href="{{ path('fos_user_change_password') }}">
        <i class="fa fa-key" aria-hidden="true"></i>
        Change password
    </a>
</div>



