<div id="mmenu" class="mmenu">
  <div class="mmenu-container">
    <div class="mmenu-navigation">
      {{ knp_menu_render('MainBundle:Builder:mainMenu') }}
    </div>
    <div id="mmenu-user" class="mmenu-user">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="user-info">
          <p class="user-title">{{ app.user.username }}</p>
          {% if app.user.img is not empty %}
            <img class="user-img" src="{{ asset('user_images/' ~ app.user.img) }}"/>
          {% endif %}
        </div>
        <div id="mmenu-user-content">
          <div class="muser-content">
            {% if app.user.roles is iterable %}
              {% for role in app.user.roles %}
                {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_MODERATOR' %}
                  <a href="{{ path('sonata_admin_dashboard') }}">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                    Admin room
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
            <a href="{{ path('fos_user_profile_show') }}">
              <i class="fa fa-info" aria-hidden="true"></i>
              Show information
            </a>
            <a href="{{ path('fos_user_profile_edit') }}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit profile
            </a>
            <a href="{{ path('fos_user_security_logout') }}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Logout
            </a>
          </div>
        </div>
      {% else %}
        <div class="user-info">
          <p class="user-title-no">Login or Register</p>
        </div>
        <div id="mmenu-user-content">
          <div class="muser-content">
            {{ render(controller('MainBundle:Security:loginMenu')) }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
