<div class="blog-content">
  {% if posts is not empty %}
    {% for post in posts.items %}
      <div class="blog-item blog-item-{% if post.0.postImg is empty %}not-{% endif %}img">
        {% if post.0.postImg is not empty %}
          <div class="blog-img">
            <a href="{{ path('blog-post', {'id' : post.0.id, 'shortTitle' : post.0.shortTitle|replace ({' ': '_'})}) }} ">
              <img src="{% if post.0.postImg starts with 'http' %} {{ asset(post.0.postImg ) }} {% else %} {{ asset('post_images/' ~ post.0.postImg ) }} {% endif %}" alt="{{ post.0.shortTitle }}">
            </a>
          </div>
        {% endif %}
        <div class="body-title">
          <a href="{{ path('blog-post', {'id' : post.0.id, 'shortTitle' : post.0.shortTitle|replace ({' ': '_'})}) }}">
            {{ post.0.shortTitle }}
          </a>
        </div>
        <div class="body-descriptions">
          <p>{{ post.0.shortDescriptions }}</p>
        </div>
        <div class="body-readmore">
          <a href="{{ path('blog-post', {'id' : post.0.id, 'shortTitle' : post.0.shortTitle|replace ({' ': '_'})}) }}">Read
            More</a>
        </div>
        <div class="body-footer">
          <div class="body-footer-user">
            {% if post.0.user.img is not empty %}
              <img src="/user_images/{{ post.0.user.img }}" alt="{{ post.0.user.username }}">
              {% if (post.0.user.name and post.0.user.soname) is not empty %}
                {{ post.0.user.name }}  {{ post.0.user.soname }}
              {% else %}
                {{ post.0.user.username }}
              {% endif %}
            {% else %}
              {{ post.0.user.username }}
            {% endif %}
          </div>
          <div class="body-footer-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ post.0.postDate | date("M d") }}
          </div>
          <div class="blog-footer-category">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <a href="{{ path('category', {'id' : post.0.category.id, 'name' : post.0.category.name|replace ({' ': '_'})}) }}">{{ post.0.category.name }}</a>
          </div>
          {{ render(controller('MainBundle:Blog:blogLike', {'id': post.0.id} )) }}
          <div class="blog-footer-comment">
            <a href="{{ path('blog-post', {'id' : post.0.id, 'shortTitle' : post.0.shortTitle|replace ({' ': '_'})}) }}">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
              {{ post.count_post_comments }}
            </a>
          </div>
          <div class="body-footer-teg">
            <i class="fa fa-tags" aria-hidden="true"></i>
            {% for tag in post.0.tag %}
              <a href="{{ path('tag', {'id' : tag.id, 'name' : tag.name|replace ({' ': '_'})}) }}">{{ tag.name|join(', ') }} {% if not loop.last %} , {% endif %} </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="navigation text-center">
      {{ knp_pagination_render(posts) }}
    </div>
  {% else %}
    <p>No posts with this settings.</p>
  {% endif %}
</div>
